*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background-color: #151515;
    color: white;
    height: 100vh;
    cursor: none;
    text-align: center;
}

header {
    background-color: #202020bc;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    margin: 20px 15px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    transform: scale(1.1);
    margin-right: 10px;
}

.digitalCursor {
    height: 10px;
    width: 10px;
    background-color: white;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 100;
}

#goodAlert {
    background-color: white;
    color: black;
    border: 3px solid rgb(19, 201, 19);
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    padding: 5px;
    height: auto;
    position: fixed;
    bottom: 5px;
    right: -400px;
    transition: 0.5s all;
}

#goodAlert button {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
}

#badAlert {
    background-color: white;
    color: black;
    border: 3px solid rgb(255, 1, 1);
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    padding: 5px;
    height: auto;
    position: fixed;
    bottom: 5px;
    right: -400px;
    transition: 0.5s all;
}

#badAlert button {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px auto;
}

#goodAlert button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

#ThumbnailContainer {
    margin: 20px auto;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    transition: 0.3s all;
    display: none;
    width: 90%;
}

@media (min-width: 500px) {
    .ThumbnailContainer {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }
}

.ThumbnailContainerChild {
    background-color: #202020bc;
    border: 1px solid white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.ThumbnailContainerChild:hover {
    background-color: #303030bc;
}

.ThumbnailContainer input {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    cursor: none;
}

button {
    padding: 5px;
    border: 1px solid white;
    background-color: #202020bc;
    color: white;
    border-radius: 10px;
    transition: 0.3s all;
}

button:hover {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px white;
    color: black;
    cursor: pointer;
}

#previewArea {
    margin: 50px auto;
    width: 300px;
    height: auto;
    display: none;
}

#helpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s all;
}

#helpButton:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 100px white;
}

#helpContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 98;
    pointer-events: all;
    display: none;
}

.helpContent {
    background-color: black;
    width: 70%;
    padding: 10px;
    margin: 20% auto;
    font-size: larger;
    text-align: center;
}

.helpContent button {
    margin: 20px auto;
}

#blogContainer, #editContainer, #deleteContainer {
    margin: 20px auto;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    transition: 0.3s all;
    width: 80%;
    display: none;
}

#blogContainer input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    color: white;
}

#blogContainer input::placeholder {
    color: rgba(255, 255, 255, 0.794);
}

#navigationContainer {
    width: 60%;
    margin: 10% auto;
    background-color: rgb(57, 57, 57);
    padding: 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-content: center;
    height: auto;
}

#navigationContainer hr {
    width: 40%;
    margin: 30px auto;
    height: 3px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

#navigationContainer button {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    font-size: larger;
    border: 1px solid black;
    background-color: rgb(183, 183, 183);
    border-radius: 15px;
    transition: 0.3s all;
    cursor: none;
}

#navigationContainer button:hover {
    box-shadow: inset 2px 5px 10px rgb(79, 79, 79);
    padding-bottom: 20px;
}

#goBack {
    padding: 20px;
    font-size: larger;
    border-radius: 30px;
    margin: 30px auto;
    display: none;
}

#blogContentInput {
    width: 90%;
    height: 200px;
    resize: none;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

/*addContent*/

.addContentBody {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    cursor: none;
}

#backToAdminHome {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #202020bc;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99;
    transition: 0.3s all;
    font-size: xx-small;
}

#backToAdminHome:hover {
    font-size: medium;
}

.quillArea {
    margin: 30px auto;
    width: 80%;
}

#toolbar {
    background-color: rgb(206, 206, 206);
    border: 1px solid grey;
}

#toolbar button {
    cursor: none;
}

#toolbar button:hover {
    box-shadow: none
}

.ql-strike, .ql-list.one{
    margin-right: 10px;
}

.quillArea input {
    position: fixed;
    right: 10px;
    bottom: 20px;
}

#questionContainer {
    position: fixed;
    right: 10%;
    width: 80%;
    top: 30%;
    z-index: 100;
    border: 2px solid white;
    box-shadow: 0 0 1000px black;
    display: none;
    background-color: #202020;
    padding: 10px;
}


#questionButton {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    font-size: larger;
    border-radius: 40px;
}

#deleteBlogNav {
    background-color: rgb(221, 133, 133) !important;
    color: black;
}

#deleteBlogNav:hover {
    box-shadow: inset 2px 5px 10px rgba(135, 0, 0, 0.728) !important;
    padding-bottom: 20px;
}

.goodButtonNav {
    background-color: rgb(81, 198, 81) !important;
    color: black;
}

.goodButtonNav:hover {
    box-shadow: inset 2px 5px 10px green !important;
}


/*Edit Information Area*/

.editInformationChild {
    background-color: #212121;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s all;
}

.editInformationChild:hover {
    background-color: #303030;
    border-radius: 15px;
}

.editInformationChild input {
    transition: 0.3s all;
    background-color: #212121;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin: 5px auto;
    cursor: none;
}

.editInformationChild input::placeholder {
    color: rgba(255, 255, 255, 0.734);
}

.editInformationChild:hover input {
    margin: 20px auto;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.635);
    padding: 10px;
    border: 1px solid #303030;
}

/*Delete Area*/

#deleteContainer input {
    transition: 0.3s all;
    background-color: #212121;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin: 5px auto;
    cursor: none;
}

#deleteContainer:hover input {
    margin: 20px auto;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.635);
    padding: 10px;
    border: 1px solid #202020;
}